# Intellij project files
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries

# Compiled sources
cmake-build-debug/
build-ios/
build/

# JUCE dependencies
JUCE/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
